<!-- -*- mode: XML -*- -->

<!-- Load Bayer color correction and recification into camera nodelet
        manager process.

     this is a test script: NOT FOR GENERAL USE

-->

<launch>

  <!-- start the driver in a camera_nodelet_manager process -->
  <include file="$(find gscam)/gscam_nodelet.launch" >
  </include>

  <!-- Chilitags marker detection -->
  <node pkg="nodelet" type="nodelet" name="marker_detection"
    args="load ros_markers/detector standalone_nodelet">
    <remap from="image" to="camera/image_raw" />
  </node>
</launch>
